.storenavmenu{
  border-radius: 12px!important;
  background: lightgrey !important;
  padding: 8px 10px!important;
  font-size: 15px!important;
  color: #1a1919!important;
  box-sizing: border-box;
  width: 100%;
}
.navStyle:nth-child(1) {
  color: #1a1919;
  font-weight: bold;
  margin-left: 25px;
  font-size: 22px;
}
.navStyleChild{
  color: #939393;
  margin-left: 15px;
  font-size: 18px;
  margin-top: 6px;
}
.drop{
  float: right;
}

.fa-bars{
  margin-left: 250px;
  font-size: 25px;
}
.fa-th-large{
  font-size: 25px;
}
.for-border{
  border-right: 2px solid navajowhite;

}
.dropText{
  color: #1a1919!important;
  font-weight: bold;
  font-size: 18px;
  margin-left: -18px;
}
.fa-sort-amount-down{
  font-size: 18px;
  margin-left: 0;
}


